<a href="https://colab.research.google.com/github/Franmalas/Franmalas.github.io/blob/master/Proyecto_Billetera_Digital.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as st
from scipy.stats import f_oneway
from scipy.stats import ttest_ind

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Nueva sección

In [3]:
url = '/content/drive/MyDrive/Colab Notebooks/ESTADISTICA INFERENCIAL DATA SCIENCE/PROYECTO_ESTADISTICA_APLICACION/CE142_Trabajo de aplicación - Base de datos.csv'
data_base = pd.read_csv(url)
data_base.head()

,ID,Ciudad,Operación,Monto_Ult,Tipo_Negocio,Sexo,Edad,Método_Carga,Nume_Operac_Sem,Monto_Octubre,Monto_Noviembre,Tiempo_Sem,Nivel_Satis
0,1,2,2,191.2,2,2,27.7,1,6,2286.1,1642.4,28.6,4
1,2,3,2,222.6,1,1,43.2,2,38,2506.5,1847.9,60.6,4
2,3,1,3,225.9,6,2,43.2,1,40,2557.8,1904.0,65.3,5
3,4,1,1,198.2,1,1,28.2,2,13,2277.5,1637.3,26.7,2
4,5,3,3,201.9,4,1,28.2,3,11,2202.3,1566.7,18.3,4

In [4]:
## Replacing categorical values
data_base['Ciudad'] = data_base['Ciudad'].replace({1:'Lima', 2:'Piura', 3:'Cusco'})
data_base['Operación'] = data_base['Operación'].replace({1:'Pagos con QR', 2:'Compras Online',3:'Envio de dinero a contactos'})
data_base['Sexo'] = data_base['Sexo'].replace({1:'Masculino',2:'Femenino'})
data_base['Tipo_Negocio'] = data_base['Tipo_Negocio'].replace({1:'Supermercado',2:'Tienda por Departamento',3:'Bodega o negocio pequeño',4:'Restaurante',5:'Taxi',6:'Otros'})
data_base['Método_Carga'] = data_base['Método_Carga'].replace({1:'Transferencia Bancaria',2:'Deposito de Efectivo en agente', 3:'Recepcion de dinero de otro usuario'})

In [12]:
data_base.head()

,ID,Ciudad,Operación,Monto_Ult,Tipo_Negocio,Sexo,Edad,Método_Carga,Nume_Operac_Sem,Monto_Octubre,Monto_Noviembre,Tiempo_Sem,Nivel_Satis
0,1,Piura,Compras Online,191.2,Tienda por Departamento,Femenino,27.7,Transferencia Bancaria,6,2286.1,1642.4,28.6,4
1,2,Cusco,Compras Online,222.6,Supermercado,Masculino,43.2,Deposito de Efectivo en agente,38,2506.5,1847.9,60.6,4
2,3,Lima,Envio de dinero a contactos,225.9,Otros,Femenino,43.2,Transferencia Bancaria,40,2557.8,1904.0,65.3,5
3,4,Lima,Pagos con QR,198.2,Supermercado,Masculino,28.2,Deposito de Efectivo en agente,13,2277.5,1637.3,26.7,2
4,5,Cusco,Envio de dinero a contactos,201.9,Restaurante,Masculino,28.2,Recepcion de dinero de otro usuario,11,2202.3,1566.7,18.3,4

### Tipos de Pruebas ###

* Distribucion t de Student

$$
SE = \frac{\sigma}{\sqrt{N}}
$$

In [13]:
se_octubre =  data_base['Monto_Octubre'].std()/np.sqrt(len(data_base['Monto_Octubre']))
se_noviembre =  data_base['Monto_Noviembre'].std()/np.sqrt(len(data_base['Monto_Noviembre']))

$$
SED = \sqrt{\frac{\sigma_1^2}{N_1}+\frac{\sigma_2^2}{N_2}}
$$

In [14]:
sed = np.sqrt((se_octubre**2)+(se_noviembre**2))
sed

11.549768255644146

* T - Student
$$
t = \frac{\bar{x_1}-\bar{x_2}}{SED}=\frac{x_1-x_2}{\sqrt{\frac{(s_1)^2}{n_1}+\frac{(s_2)^2}{n_2}}}
$$

In [15]:
t_student = (data_base['Monto_Octubre'].mean() - data_base['Monto_Noviembre'].mean()) / sed
t_student

55.577781804090385

In [16]:
p = ttest_ind(data_base['Monto_Octubre'],data_base['Monto_Noviembre'])
p

Ttest_indResult(statistic=55.577781804090385, pvalue=1.407426529733729e-276)